@use '../../styles/variables.scss';

.taskBox, .taskBoxCompleted {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    
    padding: 1.6rem;

    background-color: variables.$gray-500;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid variables.$gray-400;
}

.taskBoxCompleted .checkbox {
    border: 1px solid variables.$purple-dark;
    background-color: variables.$purple-dark;
    cursor: not-allowed;
    transition: 0.2s;

    &:hover {
        border: 1px solid variables.$purple;
        background-color: variables.$purple;
    }
}

.taskBox, .taskBoxCompleted + .taskBox, .taskBoxCompleted {
    margin-top: 1.4rem;
}

.checkbox {
    width: 2.4rem;
    height: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid variables.$blue;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        border: 1px solid variables.$blue-dark;
    }
}

.taskBox p, .taskBoxCompleted p {
    flex: 1;
}

.taskBox button, .taskBoxCompleted button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: transparent;
    color: variables.$gray-300;
    transition: 0.2s;
}

.taskBoxCompleted .checkbox div {
    height: 2.4rem;
    width: 2.4rem;
    
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 10 7' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342123L4.09865 4.67406L1.61618 2.19159L0.780273 3.0275L4.09865 6.34587L9.26649 1.17803L8.43059 0.342123Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox div > span {
    visibility: hidden;
}

.taskBoxCompleted p {
    text-decoration: line-through;
    color: variables.$gray-300;
}

.taskBox button:hover, .taskBoxCompleted button:hover {
    color: variables.$danger;
    background-color: variables.$gray-400;
}
