@use '../../styles/variables.scss';

.header {
    width: 100%;
    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: variables.$gray-700;
}