.main {
    width: min(736px, 90%);
    margin: -2.7rem auto 6.4rem auto;
}

.form {
    height: 5.4rem;
    margin-bottom: 6.4rem;

    display: flex;
    gap: 0.8rem;
}

.form button, .form input {
    font-family: 'Inter', sans-serif;
    color: var(--gray-100);
    line-height: 140%;

    padding: 1.6rem;

    border-radius: 8px;
}

.form input {
    flex: 1;

    border: 1px solid var(--gray-700);
    background-color: var(--gray-500);
}

.form input::placeholder {
    color: var(--gray-300);
}

.form input:focus {
    outline: 0;
    border-color: var(--purple-dark);
}

.form button {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font-size: 1.4rem;

    background-color: var(--blue-dark);
    transition: background 0.2s;
}

.form button:hover {
    background: var(--blue);
}

.header {
    width: 100%;
    margin-bottom: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createdTasks strong, .completeTasks strong {
    font-size: 1.4rem;
}

.createdTasks strong {
    color: var(--blue);
}

.completeTasks strong {
    color: var(--purple);
}

.createdTasks span, .completeTasks span {
    color: var(--gray-100);
    font-size: 1.2rem;

    background-color: var(--gray-400);
    border-radius: 999px;

    padding: 2px 8px;
    margin-left: 0.8rem;
}

.taskListContainer {
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    width: 100%;
}

.noTaskOnTheList {
    margin-top: 6.4rem;
    width: 100%;

    text-align: center;
    color: var(--gray-300);
}

.noTaskOnTheList strong {
    display: block;
    margin-top: 1.6rem;
}
