@use './styles/variables.scss';

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border: 0;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: variables.$gray-100;

  background-color: variables.$gray-600;

  @media (max-width: 375px) {
    font-size: 1.4rem;
  }
}

button {
  cursor: pointer;
}
